@font-face {
  font-family: "DingTalk JinBuTi";
  src: url("/fonts/DingTalk-JinBuTi.woff2") format("woff2"),
       url("/fonts/DingTalk-JinBuTi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


