name: 自动部署

on:
  push:
    branches:
      - master

  release:
    types:
      - published

jobs:
 release:
  runs-on: ubuntu-latest
  steps:
    - name: 检查分支
      uses: actions/checkout@v2
      with:
        ref: master

    - name: 安装 Node
      uses: actions/setup-node@v1
      with:
        node-version: "14.x"
    
    - name: 安装 Hexo
      run: |
        export TZ='Asia/Shanghai'
        npm install -g hexo-cli
    
    - name: 缓存 Hexo
      uses: actions/cache@v4
      id: cache
      with:
        path: node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
    
    - name: 安装依赖
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        npm install --save
    
    - name: 生成静态文件
      run: |
        hexo clean
        hexo generate

    - name: 部署到云服务器
      uses: appleboy/scp-action@v1
      with:
        host: ${{ secrets.USER_HOST }}
        username: ${{ secrets.USER_NAME }}
        password: ${{ secrets.USER_PASS }}
        strip_components: 1
        remove: true
        source: './public/*'
        target: /www/wwwroot/blog